/*---*/


.frosted{
  /* background-color: rgba(255, 255, 255, 0.5); */
  /* background: repeat; */
  /* box-shadow: 0 0 11px rgba(0, 0, 0, 0.2); */
  /* filter: blur(3px) hue-rotate(320deg) opacity(70%) saturate(20%); */
  position: relative;
  border-radius: 4vh 4vh 4vh 4vh;
  box-shadow: 2vh 2vh 2vh rgba(0, 0, 0, 0.42);
  overflow: hidden;
  margin: 4vh 4vw;
  /* padding: 2vh 2vw; */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  background-color: rgba(0,0,0,0);
  /* filter: blur(2px) hue-rotate(280deg) contrast(0.5) opacity(100%) saturate(5%) brightness(80%); */
  /* border-radius: 4vh 4vh 4vh 4vh; */

}

.frosted::before{
  content: '';
  overflow: hidden;
  /* background-color: red; */
  backdrop-filter: blur(5px) brightness(90%);
  -webkit-backdrop-filter: blur(5px) brightness(90%);
    /* background-image: url('media/parallaxPattern.png'); */

      /* background-image: url('media/frosted.png'); */
  position: absolute;
  border-radius: 4vh 4vh 4vh 4vh;
  /* filter: blur(2px) hue-rotate(280deg) contrast(0.5) opacity(100%) saturate(5%) brightness(80%); */
  z-index:-1;
  opacity: 0.80;
  background-size: repeat;
  height:100%;
  width:100%;
  /* box-shadow: 0 0 11px rgba(0, 0, 0, 0.2); */
}



/*---*/
